html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #212121;
    color: #f2eadc;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: larger;
    line-height: 1.6;
}
