/* main.css */
body {
    background-image: url('/ChiefKeef.jpg'); /* Corrected the image URL */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
